body{
  background-color: yellow;
  margin: 0;
  position: relative;
}
body:before{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
content: '';
display: block;
background: url(../image/bg_body.png) center ;
background-repeat: repeat-y;
background-size: 1570px 1010px;
z-index: 0;
}
p{
  margin: 0;
}
a{
  text-decoration: none;
  color:#FF8C00;
}
form{
  margin: 0;
}
.container{
position: relative;
z-index: 5;
overflow: auto;
text-align: center;
}
.container h4{
  margin: 0 0 20 30;
  color:#FF8C00;
  padding-top: 20px;
}
.article{
  margin:0 auto;
}
#cke_editor{
  margin: 0 auto;
}

.btn{
  display:  inherit;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #87befd;
  border: dashed 1px #FFF;
  transition: .4s;
  margin: 0 auto;
  font-size:40px;
  font-family:'HG正楷書体-PRO' , cursive;
  padding-left:20px;
  }

.btn:hover{
  background: #668ad8;
  box-shadow: 0px 0px 0px 5px #668ad8;
  cursor: pointer;
  }
.btn:focus{
  outline:0;
}
.btn1{
 position: relative;
 display: inline-block;
 font-weight: bold;
 padding: 15px 30px 12px 30px;
 text-decoration: none;
 color: #FFF;
 background: #00AA00;
 transition: .4s;
 border-radius: 40px;
}
.btn1:hover {
 background: #00CC00;
 cursor: pointer;
}

  .input {
  	position: relative;
  	width: 80%;
  	margin: 40px 3%;
  }
  .input input[type='text'] {
  	font: 15px/24px sans-serif;
  	box-sizing: border-box;
  	width: 100%;
  	padding: 0.3em;
  	transition: 0.3s;
  	letter-spacing: 1px;
  	color: black;
  	border: none;
  	border-bottom: 2px solid #1b2538;
  	background: transparent;
  }
  .title input[type='text']:focus,
  .word input[type='text']:focus {
  	border-bottom: 2px solid #0000ff;
  	outline: none;
  }
